@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:300,400,600,700');
@font-face {
    font-family: 'Aleo';
    src: 
         url('../fonts/Aleo-Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

* {
	box-sizing: border-box;
	transition: .2s ease-in-out;
}

html {
	font-size: 10px;
	height: 100%;
}

body {
	font-family: 'Josefin Sans', sans-serif;
	font-size: 1.6rem;
	background-color: #fff;
	color: #d0d0d0;
	min-height: 100%;
	background-color: #333333;
}
.container{
    margin: 0 auto;
    max-width: 1110px;
    width: 90%;
}

.header{
	background-image: url(../img/bg1.png);
	background-size: cover;
	background-repeat: no-repeat;
	height: 650px;
	text-align: center;
	padding: 20px 0;
	color: #fff;
	&__title{
		font-size: 4.8rem;
		font-weight: bold;
		text-transform: uppercase;
		margin: 200px 0 15px 0;

	}
	&__span{
		font-size: 2.2rem;
		letter-spacing: 2px;
	}
	&__form{
		width: 600px;
		height: 59px;
		background-color: #fff;
		border: 2px solid #fff;	
		margin: 55px  auto;
	}
	&__search{
		width: 450px;
		height: 48px; 
		border: 2px solid #fff;
		text-align: center;
		outline: none;
		color: #d0d0d0;
	}
	&__button{
		width: 133px;
		height: 53px;
		background-color: #5474fd;
		border: 2px solid #5474fd;
		text-transform: uppercase;
		font-size: 1.4rem;
		padding: 0 35px 0 0;
		outline: none;
		&:hover,
		&:focus{
			background-color: #04345C;
			border: 2px solid #04345C;
		}
	}
	img{
		// background-color: black;
		position: relative;
		left: 47%;
		top: 50%;
		transform: translate(0, -190%);

	}
	&__scroll{
		margin: 120px 0;
		a{
			text-decoration: none;
			color: #d0d0d0;
			font-size: 1.4rem;
			letter-spacing: 2px;
		}
	}
	&__arrow{
		margin: 5px;
	}
}

.section-1{
	background-color: #5474fd;
	height: 80px;
}
.nav{
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 20px 0;
	&__logo{
		display: block;
		a{
			text-transform: uppercase;
			text-decoration: none;
			font-weight: bold;
			font-size: 2.4rem;
			color: #d0d0d0;
		}
	}
	&__items{
		display: inline-block;
		margin: 0 15px;
		padding: 0;
		a{
			text-decoration: none;
			text-transform: uppercase;
			font-size:1.4rem;
			color: #d0d0d0;
		}
	}
}

.section-2{
	background-image: url(../img/bg2.png);
	background-size: cover;
	background-repeat: no-repeat;
	// height: 700px;
	padding: 20px 0;
}

.advantages{
	margin: 100px 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
	&__text{
		width: 45%;
		h2{
			margin: 0 0 50px 0;
			font-size: 3.6rem;
			font-family: 'Aleo';
			letter-spacing: 2px;
		}
		p{
			padding: 10px 0;
		}
		a{
			display: block;
			margin: 50px 0;
			padding: 20px;
			width: 40%;
			text-align: center;
			vertical-align: middle;
			// background-color: #5474fd;
			text-transform: uppercase;
			text-decoration: none;
			color: #d0d0d0;
			border-radius: 5px;
			background: linear-gradient(45deg, #496bfe 40%, #5474fd 40%);
			&:hover,
			&:focus,
			&:active{
				background-color: #013F6B;
				transform: scale(1.1);
			}

		}
	}
	&__img{
		width: 45%;
		img{
			width: 70%;
		}
	}
}
.f--right{
	float: right;
}

.section-3{
	height: 350px;
	// position: absolute;
	// background-image: url(../img/ellipce.png);
	// background-repeat: no-repeat;
	&__ellipce{
		position: relative;
		top: 50%;
		left: 50%;
		transform: translate(-50%, 100%);

	}
}
.scheme{
	display: flex;
	justify-content: space-between;
	margin: 70px 50px;
	&__img{
		span{
			display: block;
			margin: 20px 0;
			text-align: center;
			font-size: 3.6rem;
		}
		img{
			width: 35%;
			margin: 0 auto;
			display: block;
			background-color: #333333;
		}
	}
}
.section-4{
	background-image: url(../img/bg3.png);
	background-size: cover;
	background-repeat: no-repeat;
	padding: 200px 0;
	height: 700px;
}
.box-transp{
	width: 45%;
	background-color: rgba(51, 51, 51, .9);
	padding: 40px 30px;
	h2{
		font-size: 2rem;
		text-transform: uppercase;
	}
	a{
		display: block;
		padding: 20px;
		width: 40%;
		text-align: center;
		vertical-align: middle;
		// background-color: #5474fd;
		text-transform: uppercase;
		text-decoration: none;
		color: #d0d0d0;
		border-radius: 5px;
		background: linear-gradient(45deg, #496bfe 40%, #5474fd 40%);
		&:hover,
		&:focus,
		&:active{
			background-color: #013F6B;
			transform: scale(1.1);
		}

	}
}

.section-5{
	background-image: url(../img/bg4.png);
	background-size: cover;
	background-repeat: no-repeat;
	padding: 200px 0;
	height: 700px;
}

.section-6{
	background-image: url(../img/bg5.png);
	background-size: cover;
	background-repeat: no-repeat;
	padding: 20px 0;
	height: 700px;
	text-align: center;
}
.comments{
	&__title{
		font-size: 3.6rem;
		font-family: 'Aleo';
		margin: 100px 0;
	}
	&__quote{
		display: flex;
		justify-content: space-between;
	}
	&__img{
		width: 35%;
		img{
			width: 100%;
		}
	}
	&__text{
		width: 65%;
		text-align: left;
		background-color: #333333;
		padding: 30px;
		h2{
			text-transform: uppercase;
			font-size: 2rem;
		}
		blockquote{
			text-indent: 2px;
			padding: 0;
			margin: 0;
		}

	}
}
.fa-quote-left{
	position: relative;
	transform: translate(-20%, -50%);
	color: #5474fd; 
}

.footer{
	text-align: center;
	padding: 50px 0;
	&__text{
		h2{
			font-size: 2.4rem;
			font-weight: bold;
			text-transform: uppercase;
		}
	}
	&__item{
		padding: 0;
		margin: 0;
		display: inline-block;
		width: 1%;
		margin: 15px;
		a{
			color: #fff;
			&.active,
			&:hover{
				color: #5474fd;
			}
		}
	}
	&__socials{
		ul{
			padding: 0;
			margin: 0;
		}
	}
}



