@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:300,400,600,700');
@font-face {
    font-family: 'Aleo';
    src: 
         url('../fonts/Aleo-Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

* {
	box-sizing: border-box;
	transition: .2s ease-in-out;
}

html {
	font-size: 10px;
	height: 100%;
}

body {
	font-family: 'Josefin Sans', sans-serif;
	font-size: 1.6rem;
	background-color: #fff;
	color: #d0d0d0;
	min-height: 100%;
	background-color: #333333;
}
.container{
    margin: 0 auto;
    max-width: 1110px;
    width: 90%;
}

.bg-settings{
	background-size: cover;
	background-repeat: no-repeat;
}

.bg{
	background-color: #5474fd;
	&__bg2{
		background-image: url(../img/bg2.png);
		padding: 20px 0;
	}
	&__bg3{
		background-image: url(../img/bg3.png);
		padding: 200px 0;
	}
	&__bg4{
		background-image: url(../img/bg4.png);
		padding: 200px 0;
	}
	&__bg5{
		background-image: url(../img/bg5.png);
		padding: 20px 0;
		text-align: center;
	}
	&__ellipce{
		background-image: url(../img/ellipce.png);
		background-repeat: no-repeat;
		background-size: contain;

	}
}

.links{
	display: block;
	margin: 30px 0;
	padding: 20px;
	width: 40%;
	text-align: center;
	vertical-align: middle;
	text-transform: uppercase;
	text-decoration: none;
	color: #d0d0d0;
	border-radius: 5px;
	background: linear-gradient(45deg, #496bfe 40%, #5474fd 40%);
	&:hover,
	&:focus,
	&:active{
		background-color: #013F6B;
		transform: scale(1.1);
	}
}

.header{
	background-image: url(../img/bg1.png);
	background-size: cover;
	background-repeat: no-repeat;
	text-align: center;
	padding: 25px 0;
	color: #fff;
	&__title{
		font-size: 4.8rem;
		font-weight: bold;
		text-transform: uppercase;
		margin: 200px 0 15px 0;

	}
	&__span{
		font-size: 2.2rem;
		letter-spacing: 2px;
	}
	&__form{
		width: 600px;
		background-color: #fff;
		border: 2px solid #fff;	
		margin: 55px  auto;
	}
	&__search{
		width: 450px;
		height: 50px;
		border: 2px solid #fff;
		outline: none;
		color: #5474FD;
	}
	&__button{
		width: 134px;
		height: 55px;
		background-color: #5474fd;
		border: 2px solid #5474fd;
		text-transform: uppercase;
		outline: none;
			// background-image: url(../img/search.png);
			// background-repeat: no-repeat;
		&:hover{
			background-color: #04345C;
			border: 2px solid #04345C;
		}
	}
	&__scroll{
		margin: 80px 0;
		display: flex;
		flex-direction: column;
		a{
			text-decoration: none;
			color: #d0d0d0;
			font-size: 2rem;
			letter-spacing: 2px;
		}
		&:hover{
			transform: scale(1.05);
		}
	}
}

.nav{
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 15px 0;
	&__logo{
		display: block;
		a{
			text-transform: uppercase;
			text-decoration: none;
			font-weight: bold;
			font-size: 2.4rem;
			color: #d0d0d0;
		}
	}
	&__items{
		display: inline-block;
		margin: 0 15px;
		padding: 0;
		a{
			text-decoration: none;
			text-transform: uppercase;
			font-size:1.4rem;
			color: #d0d0d0;
		}
	}
}

.advantages{
	margin: 100px 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
	&__text{
		width: 45%;
		h2{
			margin: 0 0 50px 0;
			font-size: 3.6rem;
			font-family: 'Aleo';
			letter-spacing: 2px;
		}
		p{
			padding: 10px 0;
		}
	}
	&__img{
		display: flex;
		flex-wrap: wrap;
		width: 45%;
		img{
			width: 70%;
			padding: 5px 0;
		}
	}
}
.m--left{
	margin-left: auto;
}

.scheme{
	display: flex;
	justify-content: space-between;
	margin: 100px 0;
	&__img{
		
		span{
			display: block;
			margin: 20px 0;
			text-align: center;
			font-size: 3.6rem;
		}
		img{
			width: 35%;
			margin: 0 auto;
			display: block;
			background-color: #333333;
			position: relative;
		}
	}
}
.box-transp{
	width: 45%;
	background-color: rgba(51, 51, 51, .9);
	padding: 40px 30px;
	h2{
		font-size: 2rem;
		text-transform: uppercase;
	}
}

.comments{
	padding: 80px 0;
	&__title{
		font-size: 3.6rem;
		font-family: 'Aleo';
		margin: 70px 0;
	}
	&__quote{
		display: flex;
		justify-content: space-between;
	}
	&__img{
		width: 35%;
		img{
			width: 100%;
		}
	}
	&__text{
		width: 65%;
		text-align: left;
		background-color: #333333;
		padding: 30px;
		h2{
			text-transform: uppercase;
			font-size: 2rem;
		}
		blockquote{
			text-indent: 2px;
			padding: 0;
			margin: 0;
			font-weight: 300;
			letter-spacing: 2px;
		}

	}
}
.fa-quote-left{
	position: relative;
	transform: translate(-20%, -50%);
	color: #5474fd; 
}

.footer{
	text-align: center;
	padding: 20px 0;
	&__text{
		h2{
			a{
				font-size: 2.4rem;
				font-weight: bold;
				text-transform: uppercase;
				text-decoration: none;
				color: #fff;
			}
		}
	}
	&__item{
		padding: 0;
		margin: 0;
		display: inline-block;
		width: 1%;
		margin: 15px;
		a{
			color: #fff;
			&.active,
			&:hover{
				color: #5474fd;
			}
		}
	}
	&__socials{
		ul{
			padding: 0;
			margin: 0;
		}
	}
}



